# Instance-specific config for "Beholder" bot.
#

# connection
HOST, PORT = "chat.us.freenode.net", 6697

# Nick, channel, etc
CHANNEL = "#hardfought"
NICK = "Beholder"
USERNAME = "Beholder"
REALNAME = "Beholder"
# working directory (some files will be created here)
BOTDIR = "/opt/beholder"
# file containing the nickserv password for NICK
PWFILE = BOTDIR + "/pw"

# file/web paths for dumplogs and ttyrecs.
# subfolders are still hardcoded in the main bot.
# trailing slash is required!
FILEROOT="/opt/nethack/hardfought.org/"
WEBROOT="https://www.hardfought.org/"
# directory to place channel logs.
LOGROOT="/var/www/hardfought.org/irclog/"
# Name of bot to forward "pinobot"-style queries
PINOBOT = "Pinoclone"

# people allowed to do certain admin things.
# This is not terribly secure, as it does not verify the nick is authenticated. 
ADMIN = ["K2", "Tangles"]
